body {
    background-color: black;
}
.flex-container {
    display: flex;
    margin: 0px auto;
    width: 700px;
    height: 800px;
    background-color: indigo;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
  }
  
  .flex-container > div {
    background-color:skyblue;
    margin: 5px;
    padding: 15px 100px;
    text-align: center;
  }