.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1{
        font-size: 3.875rem;    
    }
    p{
        margin: 0.625rem 0 2.5rem;
        font-size: 0.875rem;
        color: rgba(255, 255, 255, 0.787);
    }
}
.visit-btn{
    display: inline-block;
    text-decoration: none;
    color: $white-color;
    border: 1px solid $white-color;
    padding: 0.75rem 2.125rem;
    font-size: 0.875rem;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.visit-btn:hover{
    border: 1px solid $green-color;
    background: $green-color;
    transition: 1s;
    
}