body{background-color: lightyellow;}

h1 {
    color: mediumslateblue;
    font-style: italic;
}

p {
    color:orchid;
}

div > .para {
    text-align: center;
  color: red;
}

#secretPara {
    display: none;
    background-color: yellow;
    padding: 20px;
  }
div:hover #secretPara {
    display: block;
  }
