body{background-color: lightyellow;}

h1 {
    color: mediumslateblue;
    font-style: italic;
}
h2  ::before {
    content: url(https://media4.giphy.com/media/klnStZybXquM5OC3JN/200.gif);    
  }

p {
    color:orchid;
}

div > .para {
    text-align: center;
  color: red;
}

#secretPara {
    display: none;
    background-color: yellow;
    padding: 20px;
  }
div:hover #secretPara {
    display: block;
  }
