* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100vw;
  height: 80px;
}

.bg-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  max-height: 80px;
  background: #CBC1B1;
}

.bg-header .rect1 {
  display: none;
}

.bg-header .rect2 {
  display: none;
}

.bg-header .rect3 {
  display: none;
}

.bg-header .logo {
  width: 80px;
  height: 66.13px;
  margin: 7px 40px 6.78px;
  background: url("/tomko-2k-web-figma-1/images/logo.png");
}

.bg-header .burger-menu {
  width: 30px;
  height: 30px;
  margin: 28px 40px 22px;
  background: url("/tomko-2k-web-figma-1/images/burger-menu.svg");
}

@media screen and (min-width: 480px) {
  .bg-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    height: 150px;
    background: #CBC1B1;
    gap: 1rem;
    margin-bottom: 5rem;
  }
  .bg-header .logo {
    margin: 7px 40% 6.78px 40px;
    background: url("/tomko-2k-web-figma-1/images/logo.png");
  }
  .bg-header .rect1 {
    display: block;
    padding: 1rem 2rem 1rem 2rem;
    background: #b1aaa0;
  }
  .bg-header .rect1 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
  }
  .bg-header .rect2 {
    display: block;
  }
  .bg-header .rect2 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
  }
  .bg-header .rect3 {
    display: block;
  }
  .bg-header .rect3 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
  }
  .bg-header .burger-menu {
    display: none;
  }
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.heading p {
  margin-top: 4rem;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.middle .grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cccac7;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0rem;
  grid-row-gap: 1rem;
  width: 70%;
}

.middle .grid .p5 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 6 / 1 / 9 / 2;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.center .bttn2 {
  text-align: center;
  background-color: #7b7474;
  width: 120px;
  height: 25px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 0.688rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 30px;
  height: 10vh;
  background: #CBC1B1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer p {
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */