* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100vw;
  height: 80px;
}

.bg-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  max-height: 80px;
  background: #CBC1B1;
}

.bg-header .rect1 {
  display: none;
}

.bg-header .rect2 {
  display: none;
}

.bg-header .rect3 {
  display: none;
}

.bg-header .logo {
  width: 80px;
  height: 66.13px;
  margin: 7px 40px 6.78px;
  background: url("/tomko-2k-web-figma-1/images/logo.png");
}

.bg-header .burger-menu {
  width: 30px;
  height: 30px;
  margin: 28px 40px 22px;
  background: url("/tomko-2k-web-figma-1/images/burger-menu.svg");
}

@media screen and (min-width: 480px) {
  .bg-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    height: 150px;
    background: #CBC1B1;
    gap: 1rem;
    margin-bottom: 5rem;
  }
  .bg-header .logo {
    margin: 7px 40% 6.78px 40px;
    background: url("/tomko-2k-web-figma-1/images/logo.png");
  }
  .bg-header .rect1 {
    display: block;
    padding: 1rem 2rem 1rem 2rem;
    background: #b1aaa0;
  }
  .bg-header .rect1 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
  }
  .bg-header .rect2 {
    display: block;
  }
  .bg-header .rect2 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
  }
  .bg-header .rect3 {
    display: block;
  }
  .bg-header .rect3 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
  }
  .bg-header .burger-menu {
    display: none;
  }
}

body {
  background: #E5E5E5;
  width: 100vw;
  height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.txt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 12.5rem;
  margin-top: 3.125rem;
  background: #7C7474;
}

.txt-box h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.25rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #F8F7EC;
}

.txt-box .text {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
  padding: 0.625rem;
  color: #F8F7EC;
}

.txt-box .bttn {
  background-color: #a19b98;
  margin-bottom: 20px;
}

.txt-box .bttn p {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 0.688rem;
  line-height: 0.813rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: black;
  padding: 5px 20px;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  margin-top: 50px;
}

.heading .head2 {
  /* H2 */
  text-align: center;
  position: absolute;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.trips {
  display: -ms-grid;
  display: grid;
  margin-top: 95px;
  margin-left: 40px;
  margin-right: 1rem;
  -ms-grid-columns: 0.5fr 1.5fr;
      grid-template-columns: 0.5fr 1.5fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
      grid-template-areas: "trip1-pic trip1-text" "trip2-pic trip2-text" "trip3-pic trip3-text";
}

.trips .trip1-pic {
  background-image: url("/tomko-2k-web-figma-1/images/madeira.png");
  width: 117.2px;
  height: 117.2px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: trip1-pic;
}

.trips .trip2-pic {
  background-image: url("/tomko-2k-web-figma-1/images/sardinie.png");
  width: 117.2px;
  height: 117.2px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: trip2-pic;
}

.trips .trip3-pic {
  background-image: url("/tomko-2k-web-figma-1/images/kypr.png");
  width: 117.2px;
  height: 117.2px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: trip3-pic;
}

.trips .trip1-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: trip1-text;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
}

.trips .trip2-text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: trip2-text;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
}

.trips .trip3-text {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: trip3-text;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
}

h3 {
  margin-bottom: 10px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.center .bttn2 {
  text-align: center;
  background-color: #7b7474;
  width: 120px;
  height: 25px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 0.688rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 30px;
  height: 10vh;
  background: #CBC1B1;
}

.footer p {
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

@media screen and (min-width: 480px) {
  .flex {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    background-image: url("/tomko-2k-web-figma-1/images/heroimage.png");
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .txt-box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    margin-bottom: 10%;
    margin-right: 10%;
    background: rgba(124, 116, 116, 0.3);
  }
  .txt-box h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5rem;
    margin-top: 1.25rem;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F8F7EC;
  }
  .txt-box .text {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.1em;
    padding: 0.625rem;
    color: #F8F7EC;
  }
  .txt-box .bttn p {
    font-size: 1rem;
    padding: 1rem;
  }
  .heading .head2 {
    font-size: 2rem;
  }
  .trips {
    display: -ms-grid;
    display: grid;
    margin-top: 10rem;
    justify-items: center;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 0rem;
    margin-left: 10%;
    margin-right: 10%;
        grid-template-areas: "trip1-pic trip2-pic trip3-pic" "trip1-text trip2-text trip3-text";
  }
  .trips .trip1-pic {
    background-image: url("/tomko-2k-web-figma-1/images/madeira.png");
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: trip1-pic;
  }
  .trips .trip2-pic {
    background-image: url("/tomko-2k-web-figma-1/images/sardinie.png");
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: trip2-pic;
  }
  .trips .trip3-pic {
    background-image: url("/tomko-2k-web-figma-1/images/kypr.png");
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: trip3-pic;
  }
  .trips .trip1-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: trip1-text;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
  }
  .trips .trip2-text {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: trip2-text;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
  }
  .trips .trip3-text {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: trip3-text;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
  }
  .trips h3 {
    text-align: center;
    margin: 1rem;
    margin-bottom: 2rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .center .bttn2 {
    padding-top: 1%;
    width: 180px;
    height: 40px;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .footer p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */